<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/rrr.css' />
  </head>
  <body>
    {{{body}}}
    <script src="/js/rrr.js"></script>
  </body>
</html>
